<ion-header>
  <ion-navbar>
    <ion-title>At A Glance</ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
      <ion-icon name='close'></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
<ion-item>
  <ion-label>Filter</ion-label>
  <ion-select (ionChange)="setSortValues(sSort)" [(ngModel)]="sSort">
    <ion-option [value]="sSort" *ngFor="let sSort of sSorts">{{sSort.name}} </ion-option>
  </ion-select>
</ion-item>
<ion-item *ngIf="selectedBroker === true">
    <ion-label>Broker</ion-label>
    <ion-select [(ngModel)]="sBroker" >
        <ion-option [value]="sBroker" *ngFor="let sBroker of sBrokers">{{sBroker.name}}</ion-option>
    </ion-select>
</ion-item> 
<ion-item *ngIf="selectedMonth === true">
    <ion-label>Month</ion-label>
    <ion-select [(ngModel)]="sMonth" >
        <ion-option [value]="sMonth" *ngFor="let sMonth of sMonths">{{sMonth.name}}</ion-option>
    </ion-select>
</ion-item>
</ion-content>
<ion-footer>
  <button ion-button full  (click)="dismiss()">Search
      </button>
</ion-footer>

