ion-note {
  color: color($colors, primary) !important;
  font-size: 1.4rem !important;
}

ion-input{
  input{
  text-align: end;
  }
}

.item-size {
  font-size: 1.5rem !important;
}
.header-size {
  font-size: 1.7rem !important;
}