<ion-header>
    <ion-navbar>
        <ion-title>Property</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="broker.id">      
        <ion-card-content>
            <h2 class="card-title">Referral Reasons</h2>
        </ion-card-content>
        <ion-list>
            <ion-item text-wrap>
                <h3>Sum Insured is greater than $0.5m.</h3>
                <ion-icon item-right name="attach"></ion-icon>
            </ion-item>
            <ion-item text-wrap>
                <h3>Transaction request is backdated.</h3>
                <ion-icon item-right name="attach"></ion-icon>
            </ion-item>
            <ion-item text-wrap>
                <h3>Backdating of cancellation outside of cooling-off period.</h3>
                <ion-icon item-right name="attach"></ion-icon>
            </ion-item>
        </ion-list>
    </ion-card>
    <ion-card *ngIf="broker.id">      
        <ion-card-content>
            <h2 class="card-title">Coverage Information</h2>
        </ion-card-content>
        <ion-list>
        <button class="item-style" ion-item detail-push *ngFor="let coverage of coverages" (click)="coverageTapped($event, coverage)">
        {{coverage.value}}
        </button>
            <ion-item>
                <ion-label>Broker Fees:</ion-label>
                <ion-input [(ngModel)]="brokerFee" type="text" disabled="true">{{brokerFee}}</ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Referral Factor:</ion-label>
                <ion-input style="font-size: 13px;" type="text" placeholder="Enter Referral Factor"></ion-input>
            </ion-item>
        </ion-list>
    </ion-card>
    <ion-card *ngIf="broker.id">      
        <ion-card-content>
            <h2 class="card-title">Broker Comments</h2>
        </ion-card-content>
        <ion-list>
            <ion-item>
              <ion-textarea placeholder="Enter Broker Comments"></ion-textarea>
            </ion-item>
        </ion-list>
        
    </ion-card>
    <ion-card *ngIf="broker.id">      
        <ion-card-content>
            <h2 class="card-title">Underwriter Comments</h2>
        </ion-card-content>
        <ion-list>
            <ion-item>
              <ion-textarea placeholder="Enter Underwriter comments"></ion-textarea>
            </ion-item>
        </ion-list>

    </ion-card>
    <ion-card *ngIf="broker.id">      
        <ion-card-content>
            <h2 class="card-title">Remarks</h2>
        </ion-card-content>
        <ion-list>
            <ion-item>
              <ion-textarea placeholder="Enter Remarks"></ion-textarea>
            </ion-item>
            
        </ion-list>
        <ion-item>
            <button ion-button icon-left (click)="favorite(broker)" clear item-left>
                <ion-icon name="Quote"></ion-icon>
                Quote
            </button>
            <button ion-button icon-left (click)="decline(broker)" clear item-right>
                <ion-icon name="Decline"></ion-icon>
                Decline
            </button>
        </ion-item>
    </ion-card>
    
</ion-content>
