.searchbar-input {
  box-shadow: none !important;
}

ion-footer {
  padding: 8px 16px !important;
}

inset-modal {
  // transparent black background overlay
  background-color: rgba(0, 0, 0, .5) !important;
  transition: opacity .25s ease-in-out;
  padding: 20vh 10vw;
}

.footer-display {
    color: #fff !important;
    background-color: #3399FF !important;
    opacity: 1 !important;
    transition: 100ms all linear !important;
    border-radius: 4px 4px 4px 4px !important;
}

.tabs-md .tab-button {
    font-weight: bold;
}
